a {
  text-decoration: none;
}

.navbar {
  // background-color: red;
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 50%;
  align-items: center;
  justify-content: center;
  // border-bottom: 1px solid black;
  // background-color: rgba(245, 245, 245, 0.8);
  // background-color: rgba(184, 219, 217, 0.8);
  // background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  h1 {
    font-family: "Gilroy-bold";
    color: indigo;
  }

  .control {
    display: flex;
    align-items: center;

    a {
      margin-inline: 1.5rem;
      color: #0d21a1;
      font-family: "Gilroy-light";
    }
  }
}

// background: rgba(0,0,0,0.8);
// -webkit-backdrop-filter: saturate(180%) blur(20px);
// backdrop-filter: saturate(180%) blur(20px);
