// .sss::-webkit-scrollbar {
//   display: none;
// }

// .sss {
//   scrollbar-width: none;
// }

.sss {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.sss::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container {
  padding-top: 5rem;
  box-sizing: border-box;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    div {
      text-align: center;
      margin: 2rem;
      border: 5px solid rebeccapurple;
      border-radius: 10px;
    }
  }
}
